@font-face {
  font-family: "NotoSansKR";
  font-weight: black;
  src: url("./fonts/NotoSansKR/NotoSansKR-Black.ttf");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: bold;
  src: url("./fonts/NotoSansKR/NotoSansKR-Bold.ttf");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: extrabold;
  src: url("./fonts/NotoSansKR/NotoSansKR-ExtraBold.ttf");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: extralight;
  src: url("./fonts/NotoSansKR/NotoSansKR-ExtraLight.ttf");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: light;
  src: url("./fonts/NotoSansKR/NotoSansKR-Light.ttf");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: medium;
  src: url("./fonts/NotoSansKR/NotoSansKR-Medium.ttf");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: regular;
  src: url("./fonts/NotoSansKR/NotoSansKR-Regular.ttf");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: semibold;
  src: url("./fonts/NotoSansKR/NotoSansKR-SemiBold.ttf");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: thin;
  src: url("./fonts/NotoSansKR/NotoSansKR-Thin.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: black;
  src: url("./fonts/Roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: black-italic;
  src: url("./fonts/Roboto/Roboto-BlackItalic.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: url("./fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: bold-italic;
  src: url("./fonts/Roboto/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: italic;
  src: url("./fonts/Roboto/Roboto-Italic.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: light;
  src: url("./fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: light-italic;
  src: url("./fonts/Roboto/Roboto-LightItalic.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: medium;
  src: url("./fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: medium-italic;
  src: url("./fonts/Roboto/Roboto-MediumItalic.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: regular;
  src: url("./fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: thin;
  src: url("./fonts/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: thin-italic;
  src: url("./fonts/Roboto/Roboto-ThinItalic.ttf");
}

* {
  box-sizing: border-box;
}

html {
  font-family: "NotoSansKR", "Roboto";
}

body {
  margin: 0;
  background: #f2f2f2;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
