table.regist-table {
  border-spacing: 0px;
  border-style: none;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 1px 1px 2px #9f9e9e;
}

.regist-table th,
td {
  border: 1px solid rgba(224, 224, 224, 1);
  padding: 8px;
  font-size: 12px;
  font-weight: 200;
}

.regist-table th {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  background-color: white;
}

.regist-table tbody td:first-child {
  text-align: center;
}

.regist-table tbody tr:nth-child(odd) {
  background-color: #f1f1f1;
}

.regist-table tbody tr:nth-child(even) {
  background-color: white;
}
