.regist-team .btn-team-modechange {
  width: 64px !important;
}

.regist-team .btn-team-modify {
  width: 64px !important;
}

.regist-team .btn-team-delete {
  width: 64px !important;
}

.regist-team-event .check-btn-submit {
  padding: 0px;
}

.regist-team-event .regist-btn-submit {
  padding: 0px;
}
