<<<<<<< HEAD
.regist-event {
  margin: 16px;
}

.regist-event-title {
  margin-top: 5px;
  margin-bottom: 16px;
}
=======
.regist-main-title {
    margin-top: 5px;
    margin-bottom: 16px;
}
>>>>>>> b22f4766819f67892b9905c1f47f8628469a8696
